<div class="skills">
    <h2>Monitoring</h2>
    <div class="container">
        {% assign monitor = site.monitoring %}
        {% for entry in monitor %}
        {% assign key = entry | first %}
        <div class="card">
            <div class="card-image">
                <img src="/assets/img/{{ monitor[key].image }}" alt="{{ monitor[key].name }}">
            </div>
            <div class="card-title">
                <h3>{{ monitor[key].name }}</h3>
            </div>
        </div>
        {% endfor %}
    </div>
</div>