body {
    font-family: "Open Sans", sans-serif;
    position: relative;
    color: #7f8b92;
    background-color: #171e22;
    line-height: 1.7;
    letter-spacing: .015em;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ps-main {
    overflow: hidden
}

a {
    color: #dd163b;
    -webkit-transition: .15s color;
    -o-transition: .15s color;
    transition: .15s color
}

a:focus,
a:hover {
    color: #dd163b
}

.contacts-top .contacts-right ul>li>a:hover {
    color: #dd163b
}

::selection {
    color: #fff;
    background-color: #303e47;
}

.gap,
.gap-1,
.gap-2,
.gap-3,
.gap-4,
.gap-5,
.gap-6 {
    display: block;
    height: 15px
}

.gap-1::after,
.gap-1::before,
.gap-2::after,
.gap-2::before,
.gap-3::after,
.gap-3::before,
.gap-4::after,
.gap-4::before,
.gap-5::after,
.gap-5::before,
.gap-6::after,
.gap-6::before,
.gap::after,
.gap::before {
    content: "";
    display: block;
    clear: both
}

.gap-1 {
    height: 20px
}

.gap-2 {
    height: 230px
}

.gap-3 {
    height: 50px
}

.gap-4 {
    height: 70px
}

.gap-5 {
    height: 90px
}

.gap-6 {
    height: 110px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5rem;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase
}

.h1,
h1 {
    font-size: 3rem
}

.h2,
h2 {
    font-size: 2.35rem
}

.h3,
h3 {
    font-size: 1.75rem
}

.h4,
h4 {
    font-size: 1.32rem
}

.h5,
h5 {
    font-size: 1.02rem
}

.h6,
h6 {
    font-size: .88rem
}

p {
    margin-bottom: 1.5rem
}

.page-background-bottom,
.page-background-fixed,
.page-background-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: -1
}

.page-background-bottom {
    top: auto;
    bottom: 0
}

.page-background-fixed {
    position: fixed;
    height: 100%;
    background-position: center center;
    background-size: cover
}

html {
    font-size: 14px
}

.homepage-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.contacts-top {
    padding: 8px 0;
    font-size: .85rem;
    color: #fff
}

.contacts-top::after {
    content: "";
    display: block;
    clear: both
}

.contacts-top .contacts-left {
    float: left
}

.contacts-top .contacts-right {
    float: right
}

.contacts-top .contacts-left .social-links,
.contacts-top .contacts-right .social-links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media (max-width:575px) {
    .contacts-top .contacts-left,
    .contacts-top .contacts-right {
        float: none;
        text-align: center
    }
    .contacts-top .contacts-left .social-links,
    .contacts-top .contacts-right .social-links {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .contacts-top .contacts-right {
        margin-top: 10px
    }
}

.social-links-2.social-links-left,
.social-links-3.social-links-left,
.social-links.social-links-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.social-links-2.social-links-right,
.social-links-3.social-links-right,
.social-links.social-links-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}


.social-links>li>*,
.social-links-2>li>*,
.social-links-3>li>* {
    display: block;
    width: 20px;
    height: 20px;
    margin: 3px;
    font-size: .9em;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 10px;
    -webkit-transition: .15s background-color, .15s color;
    -o-transition: .15s background-color, .15s color;
    transition: .15s background-color, .15s color;
}

.social-links-2>li>.hover,
.social-links-2>li>:hover,
.social-links-3>li>.hover,
.social-links-3>li>:hover,
.social-links>li>.hover,
.social-links>li>:hover {
    color: #fff;
    background-color: #dd163b;
}

.social-links-2.social-links-3>li>.social-facebook.hover,
.social-links-2.social-links-3>li>.social-facebook:hover,
.social-links-2>li>.social-facebook.hover,
.social-links-2>li>.social-facebook:hover,
.social-links-3.social-links-3>li>.social-facebook.hover,
.social-links-3.social-links-3>li>.social-facebook:hover,
.social-links-3>li>.social-facebook.hover,
.social-links-3>li>.social-facebook:hover,
.social-links.social-links-3>li>.social-facebook.hover,
.social-links.social-links-3>li>.social-facebook:hover,
.social-links>li>.social-facebook.hover,
.social-links>li>.social-facebook:hover {
    color: #fff;
    background-color: #3b5998;
}

.social-links-2.social-links-3>li>.social-github.hover,
.social-links-2.social-links-3>li>.social-github:hover,
.social-links-2>li>.social-github.hover,
.social-links-2>li>.social-github:hover,
.social-links-3.social-links-3>li>.social-github.hover,
.social-links-3.social-links-3>li>.social-github:hover,
.social-links-3>li>.social-github.hover,
.social-links-3>li>.social-github:hover,
.social-links.social-links-3>li>.social-github.hover,
.social-links.social-links-3>li>.social-github:hover,
.social-links>li>.social-github.hover,
.social-links>li>.social-github:hover {
    color: #fff;
    background-color: #464646;
}

.social-links-2.social-links-3>li>.social-github.hover,
.social-links-2.social-links-3>li>.social-github:hover,
.social-links-2>li>.social-github.hover,
.social-links-2>li>.social-github:hover,
.social-links-3.social-links-3>li>.social-github.hover,
.social-links-3.social-links-3>li>.social-github:hover,
.social-links-3>li>.social-github.hover,
.social-links-3>li>.social-github:hover,
.social-links.social-links-3>li>.social-github.hover,
.social-links.social-links-3>li>.social-github:hover,
.social-links>li>.social-github.hover,
.social-links>li>.social-github:hover {
    color: #fff;
    background-color: #464646;
}

.social-links-2.social-links-3>li>.social-steam.hover,
.social-links-2.social-links-3>li>.social-steam:hover,
.social-links-2>li>.social-steam.hover,
.social-links-2>li>.social-steam:hover,
.social-links-3.social-links-3>li>.social-steam.hover,
.social-links-3.social-links-3>li>.social-steam:hover,
.social-links-3>li>.social-steam.hover,
.social-links-3>li>.social-steam:hover,
.social-links.social-links-3>li>.social-steam.hover,
.social-links.social-links-3>li>.social-steam:hover,
.social-links>li>.social-steam.hover,
.social-links>li>.social-steam:hover {
    color: #fff;
    background-color: #272425;
}

.social-links-2.social-links-3>li>.social-discord.hover,
.social-links-2.social-links-3>li>.social-discord:hover,
.social-links-2>li>.social-discord.hover,
.social-links-2>li>.social-discord:hover,
.social-links-3.social-links-3>li>.social-discord.hover,
.social-links-3.social-links-3>li>.social-discord:hover,
.social-links-3>li>.social-discord.hover,
.social-links-3>li>.social-discord:hover,
.social-links.social-links-3>li>.social-discord.hover,
.social-links.social-links-3>li>.social-discord:hover,
.social-links>li>.social-discord.hover,
.social-links>li>.social-discord:hover {
    color: #7289DA;
    background-color: #fff;
}

.social-links-2.social-links-3>li>.social-twitch.hover,
.social-links-2.social-links-3>li>.social-twitch:hover,
.social-links-2>li>.social-twitch.hover,
.social-links-2>li>.social-twitch:hover,
.social-links-3.social-links-3>li>.social-twitch.hover,
.social-links-3.social-links-3>li>.social-twitch:hover,
.social-links-3>li>.social-twitch.hover,
.social-links-3>li>.social-twitch:hover,
.social-links.social-links-3>li>.social-twitch.hover,
.social-links.social-links-3>li>.social-twitch:hover,
.social-links>li>.social-twitch.hover,
.social-links>li>.social-twitch:hover {
    color: #fff;
    background-color: #5c43a1;
}

.social-links-2.social-links-3>li>.social-wordpress.hover,
.social-links-2.social-links-3>li>.social-wordpress:hover,
.social-links-2>li>.social-wordpress.hover,
.social-links-2>li>.social-wordpress:hover,
.social-links-3.social-links-3>li>.social-wordpress.hover,
.social-links-3.social-links-3>li>.social-wordpress:hover,
.social-links-3>li>.social-wordpress.hover,
.social-links-3>li>.social-wordpress:hover,
.social-links.social-links-3>li>.social-wordpress.hover,
.social-links.social-links-3>li>.social-wordpress:hover,
.social-links>li>.social-wordpress.hover,
.social-links>li>.social-wordpress:hover {
    color: #fff;
    background-color: #4072a1;
}

.social-links-2.social-links-3>li>.social-trello.hover,
.social-links-2.social-links-3>li>.social-trello:hover,
.social-links-2>li>.social-trello.hover,
.social-links-2>li>.social-trello:hover,
.social-links-3.social-links-3>li>.social-trello.hover,
.social-links-3.social-links-3>li>.social-trello:hover,
.social-links-3>li>.social-trello.hover,
.social-links-3>li>.social-trello:hover,
.social-links.social-links-3>li>.social-trello.hover,
.social-links.social-links-3>li>.social-trello:hover,
.social-links>li>.social-trello.hover,
.social-links>li>.social-trello:hover {
    color: #4072a1;
    background-color: #fff;
}

.social-links-2>li>*,
.social-links-2>li>:active,
.social-links-2>li>:focus,
.social-links-2>li>:hover,
.social-links-3>li>*,
.social-links-3>li>:active,
.social-links-3>li>:focus,
.social-links-3>li>:hover,
.social-links>li>*,
.social-links>li>:active,
.social-links>li>:focus,
.social-links>li>:hover {
    color: #171e22;
}

.social-links,
.social-links-2,
.social-links-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-right: -2px;
    margin-left: -2px;
    list-style-type: none;
}

.contacts-icons {
    position: relative;
    padding: 0;
    margin: 0;
    margin-right: -20px;
    list-style-type: none
}

@media (max-width:767px) {
    .contacts-icons {
        margin-right: 0
    }
}

.contacts-icons::after {
    content: "";
    display: block;
    clear: both
}

.contacts-icons>li {
    display: inline-block;
    margin: 3px 20px;
    line-height: 1.3;
    text-align: center
}

.contacts-icons>li>a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: .15s color;
    -o-transition: .15s color;
    transition: .15s color
}

.contacts-icons>li.hover,
.contacts-icons>li>a:active,
.contacts-icons>li>a:focus,
.contacts-icons>li>a:hover {
    color: #dd163b
}

.ps-navbar, .ps-navbar.ps-navbar-solid {
    background-color: rgba(0, 0, 0, .6)
}

.ps-navbar {
    position: relative;
    padding: 27px 0;
    font-family: Montserrat, sans-serif;
    font-size: 1.07rem;
    color: #fff;
    -webkit-transition: .3s background-color;
    -o-transition: .3s background-color;
    transition: .3s background-color;
    z-index: 1000;
    will-change: background-color;
}

.ps-navbar .ps-nav-table {
    display: table;
    width: 100%;
    height: 100%;
}

.ps-navbar .ps-nav-table>* {
    display: table-cell;
    vertical-align: middle;
}

.ps-navbar .ps-nav-table>.ps-nav-row {
    display: table-row
}

.ps-navbar .ps-nav-table>.ps-nav-row-full {
    height: 100%
}

.ps-navbar .ps-nav-table>.ps-nav-row-center>* {
    display: table-cell;
    vertical-align: middle
}

.ps-navbar .ps-nav-table>.nav-icons,
.ps-navbar .ps-nav-table>.ps-nav-logo {
    width: 1%
}

.ps-navbar a {
    color: inherit
}

.ps-navbar .ps-nav-logo img {
    height: auto
}

.ps-navbar .ps-nav-right {
    text-align: right
}

.ps-navbar .ps-nav-right>* {
    text-align: left
}

.ps-mega-item>.dropdown>ul li>label {
    font-family: Montserrat, sans-serif;
}

.ps-navbar .ps-nav-right .ps-mega-item>.dropdown {
    right: 0;
    left: auto
}

.ps-navbar .ps-nav-center .ps-mega-item>.dropdown {
    right: 0;
    left: auto;
}

.ps-navbar .ps-drop-item.ps-drop-left .dropdown {
    margin-left: -100%;
}

.ps-navbar .ps-nav {
    position: relative;
    width: 100px;
}

.ps-navbar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.ps-navbar .ps-nav>li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.ps-navbar .ps-nav>li>a {
    position: relative;
    display: block;
    padding: 6px 21px;
}

@media (max-width:1199px) {
    .ps-navbar .ps-nav>li>a {
        padding: 6px 18px;
    }
}

.ps-navbar .ps-nav li>a {
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: .15s color;
    -o-transition: .15s color;
    transition: .15s color;
}

.ps-navbar ul>li>a {
    white-space: nowrap;    
}

.ps-navbar ul>li>a.hover,
.ps-navbar ul>li>a:hover {
    color: #dd163b;
    text-decoration: none;
}

.dropdown {
    position: absolute;
    display: none;
    min-width: 250px;
    padding: 9px 0;
    margin-top: 12px;
    margin-left: 9px;
    background-color: rgba(0, 0, 0, .75);
    border-bottom: 4px solid #dd163b;
    opacity: 0;
    z-index: 1;
}

.dropdown-login {
    position: absolute;
    display: none;
    min-width: 250px;
    padding: 9px 0;
    margin-top: 12px;
    margin-left: 9px;
    background-color: rgba(0, 0, 0, .75);
    border-bottom: 4px solid #dd163b;
    opacity: 0;
    z-index: 1005;
}

.ps-navbar .ps-nav .dropdown>li {
    position: relative;
}

.ps-navbar .ps-nav .dropdown>li>a {
    display: block;
    padding: 6px 17px;
    padding-right: 64px;
}

.contacts-icons .ps-drop-item .dropdown>li>a {
    display: block;
    padding: 6px 17px;
    padding-right: 64px;
}

.ps-navbar .ps-nav .dropdown>li>a:hover {
    text-decoration: none
}

.ps-navbar.ps-navbar-light .ps-nav .dropdown {
    background-color: #fff;
}

.ps-navbar .ps-nav .ps-drop-item>a::after {
    content: " +"
}

.ps-navbar .ps-nav .ps-drop-item .ps-drop-item>a::after {
    position: absolute;
    right: 20px
}

.ps-drop-item .ps-drop-item>a::after {
    position: absolute;
    right: 20px;
}

.ps-navbar .ps-nav .ps-drop-item .ps-drop-item .dropdown {
    top: 0;
    left: 5px;
    margin-top: -9px;
    margin-left: 100%
}

.ps-navbar .ps-drop-item.drop-left .dropdown {
    margin-left: -100%
}

@media (max-width:420px) {
    .ps-navbar.ps-navbar-top .ps-nav-logo {
        display: none
    }
}

.ps-navbar .nav-icons {
    white-space: nowrap;
}

.ps-navbar .nav-icons>* {
    white-space: initial;
}

.ps-navbar-side .ps-nav .dropdown {
    display: block;
    padding: 0;
    background-color: transparent;
    border-bottom: 0;
    opacity: 1
}

.ps-navbar-side .nav-icons {
    list-style: none;
}

.ps-navbar-side .nav-icons li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.ps-navbar-side .nav-icons li>a {
    display: inline-block;
    padding: 0 15px;
}

.ps-navbar-side .nav-icons li>a>i, .ps-navbar-side .nav-icons li>a>span {
    height: 32px;
    font-size: 1.2rem;
    line-height: 32px;
    vertical-align: middle;
}

.ps-navbar-side.ps-navbar-right-side {
    right: 0;
    width: 250px;
    margin-right: -250px;
}

@media (max-width:400px) {
    .ps-navbar-side.ps-navbar-right-side {
    width: 200px;
    margin-right: -200px;
}
}

.ps-navbar-side.ps-navbar-lg.ps-navbar-right-side {
    width: 350px;
    margin-right: -350px;
}

@media (max-width:550px) {
    .ps-navbar-side.ps-navbar-lg.ps-navbar-right-side {
    width: 300px;
    margin-right: -300px;
}
}

@media (max-width:450px) {
    .ps-navbar-side.ps-navbar-lg.ps-navbar-right-side {
    width: 250px;
    margin-right: -250px;
}
}

.ps-navbar-side .ps-nav-logo {
    display: block;
    width: 100%;
    padding: 20px 25px;
}

.nk-navbar-side .nk-nav {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.ps-navbar-side {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: #171e22;
    z-index: 1002;
    overflow-x: hidden;
    transition: 0.5s;
}

.ps-navbar-side .nano {
    height: 100%;
    overflow-y: auto;
}

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nano .nano-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    overflow-x: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

.nano .nano-content::-webkit-scrollbar {
    display: none;
}

.nano>.nano-pane {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 6px;
    background: rgba(0, 0, 0, .4);
    opacity: .01;
    -webkit-transition: .2s opacity;
    -o-transition: .2s opacity;
    transition: .2s opacity;
    will-change: opacity;
}

.nano>.nano-pane>.nano-slider {
    position: relative;
    margin: 0 1px;
    background: #fff;
    opacity: .5;
}

.nano>.nano-pane:hover>.nano-slider {
    opacity: .6;
}

.has-scrollbar>.nano-content::-webkit-scrollbar {
    display: block;
}

.nano-pane.active, .nano-pane.flashed, .nano:hover>.nano-pane {
    opacity: .99;
}

.icon-burger .ps-t-1 {
    margin-top: -7px;
}

.icon-burger .ps-t-3 {
    margin-top: 7px;
}

.icon-burger {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 24px;
}

.icon-burger>span {
    position: absolute;
    display: block;
    top: 50%;
    width: 25px;
    height: 0;
    border-bottom: 2px solid;
    -webkit-transition: .3s .2s width, .3s opacity, .2s transform;
    -o-transition: .3s .2s width, .3s opacity, .2s transform;
    transition: .3s .2s width, .3s opacity, .2s transform;
    will-change: width, opacity, transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ps-navbar .ps-nav li.single-icon>a {
    padding: 0 15px;
}

.ps-navbar .ps-nav li.single-icon>a>i, .ps-navbar .ps-nav li.single-icon>a>span {
    height: 32px;
    font-size: 1.1rem;
    line-height: 32px;
    vertical-align: middle;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;

}

ul li:hover > ul,
ul li ul:hover {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.ps-footer {
    position: relative;
    overflow: hidden;
    color: #eee;
    background-color: rgba(17, 22, 25, .8);
    z-index: 1
}

.ps-copyright {
    background-color: #000
}

.ps-copyright .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.ps-copyright .ps-copyright-left {
    padding: 25px 0
}

.ps-copyright .ps-copyright-right {
    padding: 21px 0;
    margin-left: auto
}

@media (max-width:991px) {
    .ps-copyright .ps-copyright-left,
    .ps-copyright .ps-copyright-right {
        width: 100%;
        text-align: center
    }
    .ps-copyright .ps-copyright-right {
        padding-top: 0
    }
}

.image-slider {
    position: relative;
    height: 360px;
    overflow: hidden;
    background-color: #232930;
    border-bottom: 3px solid #dd163b;
    z-index: 0
}

.image-slider .image-slider-item {
    left: -150%;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-slider .image-slider-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    width: 315px;
    background-color: rgba(0, 0, 0, .8)
}

#main{
    margin-bottom: 10%;
    width: 70%;
    margin: auto;
}

.styled {
    font-family: Raleway;
    font-weight: lighter;
    color:gray;
    font-size: 40px;
    margin: 10px;
    padding:20px;
    padding-left:100px;
    background-color: aliceblue;
    background-image: url("./assets/images/css.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    transition: all 1s;
}

.styled:hover{
    background-color: black;
    color:white; 
    background-size: 40px 40px;
}

.center {
    margin: auto;
    margin-left: 35%;
}

#html-pic {
    height: 10em;
}

.factbox{
    font-style: italic;
}

#html-css-img {
    width: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    font-family: Montserrat,sans-serif;
    font-size: 1.07rem;
    width: 280px;
    position: fixed;
    top: 0;
    right: 0px;
    height: 100vh;
    z-index: 1002;
    background: #171e22;
    color: #fff;
    transition: all 0.3s;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: -280px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #eee;
    font-weight: 600;
    text-transform: uppercase;
    transition: .15s color;
}

#sidebar ul li {
    padding-left: 20px;
}

#sidebar ul li a:hover {
    color: #dd163b;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #dd163b;
    background: rgba(0, 0, 0, .25);
}

#sidebar ul li ul {
    background-color: rgba(0, 0, 0, .25);
    transition: .5s;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 50px;
    right: 30px;
}

#dismiss a {
    color: #eee;
}

#dismiss a:hover {
    color: #dd163b;
}

.list-unstyled {
    padding-left: 0px;
    list-style: none;
}

iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

#signUpButton {
    color: #000000;
    text-decoration: none;       
}

#loginButton {
    color: #000000;
    padding: 0 1em;
    text-decoration: none;
}