---
---

body {
    background-color: #222831;
    font:14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight:400;
    color: #fff;
    line-height: 1.6;
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot");
    src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix") format("embedded-opentype"),
        local("Noto Sans"),
        local("Noto-Sans-regular"),
        url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2") format("woff2"),
        url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff") format("woff"),
        url("../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf") format("truetype"),
        url("../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans") format("svg")
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot");
    src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix") format("embedded-opentype"),
        local("Noto Sans Bold"),
        local("Noto-Sans-700"),
        url("../fonts/Noto-Sans-700/Noto-Sans-700.woff2") format("woff2"),
        url("../fonts/Noto-Sans-700/Noto-Sans-700.woff") format("woff"),
        url("../fonts/Noto-Sans-700/Noto-Sans-700.ttf") format("truetype"),
        url("../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans") format("svg")
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot");
    src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix") format("embedded-opentype"),
        local("Noto Sans Italic"),
        local("Noto-Sans-italic"),
        url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2") format("woff2"),
        url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff") format("woff"),
        url("../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf") format("truetype"),
        url("../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans") format("svg")
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot");
    src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix") format("embedded-opentype"),
        local("Noto Sans Bold Italic"),
        local("Noto-Sans-700italic"),
        url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2") format("woff2"),
        url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff") format("woff"),
        url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf") format("truetype"),
        url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans") format("svg")
}

body {
    background-color: #222831;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    margin: 0 0 20px 0;
}

h1 {
    font-size: 28px;
}

h1, h2, h3 {
    line-height: 1.1;
}

a {
    color: #5180bd;
    text-decoration: none;

    &:hover {
        color: #ff5722;
        font-weight: bold;
    }
}

p {
    margin: 0;
}

small {
    font-size: 11px;
}

section {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-child(even) {
        background-color: darkslateblue ;
    }
}

.header {
    margin-top: -5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;

    h1 {
        margin-bottom: 1rem;
    }

    .description,
    .description p {
        margin: 0;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .emoji {
        font-size: 8rem;
    }

    .social {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;

        a {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            margin: 0 1rem;

            img {
                width: 2rem;
                height: 2rem;
                align-self: center;
                padding-right: 0.5rem;
            }

            p {
                align-self: center;
            }
        }
    }
}

.scroll-down {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #fff;

    a {
        color: #fff;

        &:hover {
            filter: invert(43%) sepia(24%) saturate(6964%) hue-rotate(347deg) brightness(105%) contrast(101%);
            font-weight: bold;
        }

        img {
            width: 2rem;
            height: 2rem;
        }
    }
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    h2 {
        margin: 1rem 0 0 0
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 2rem;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            border-radius: 15px;
            background-color: #222831;
            color: #fff;
            height: 12rem;
            width: 12rem;

            .card-image {
                width: 6rem;
                height: 6rem;
                margin: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card-title {
                margin-top: 1rem;
                
                h3 {
                    margin: 0;
                }
            }
        }
    }
}

footer {
    width: 15rem;
    position: absolute;    
    bottom: 50px;
    left: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #222831;
    border-radius: 5px;

    p {
        margin: 0;
        
        &:first-child {
            padding: 0.5rem 0.5rem 0 0.5rem;
        }

        &:last-child {
            padding: 0 0.5rem 0.5rem 0.5rem;
        }
    }
}
